/* FormComponent.css */

.form-container {
  display: flex;
  /* justify-content:; */
  /* align-items: ; */
  /* height: 100vh; */
}

.form-group {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  /* padding-right: 5%; */
  width: 400px;

}

.input, .submit {
  display: inline-block;
}

.input {
  width: 68%;
}

.submit {
  width: 30%;
  display: inline-block;
}

input[type="email"] {
  width: 100%;
  padding: 10px;
  box-sizing: border-box;
  cursor: pointer;
  border-radius: 5px; /* Add rounded corners to the input field */
}

button[type="submit"] {
  width: 100%;
  padding: 10px;
  box-sizing: border-box;
  background-color: orangered;
  color: white;
  border: none;
  cursor: pointer;
}

/* button[type="submit"]:hover {
  background-color: #45a049;
} */

.error {
  color: red;
  margin-top: 10px;
}

.message {
  color: green;
  margin-top: 10px;
}


  @media (max-width: 768px) {
    .form-container {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 100%;
      box-sizing: border-box; /* Ensures padding and border are included in the element's total width and height */
    }


  .form-group  {
    width: 100%;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
  }
  
  .form-group .input {
    flex-direction: column;
    width: 100%;

    margin-bottom: 10px;
    justify-content: center;
    align-items: center;

    
  }
  
  .form-group .submit {
    width: 100%;
    height: 2%;
    margin-top: 5%;
   
  }
  .form-container .error{
    margin-bottom: 5%;
  }


}

@media screen and (min-width: 1371px)  {
  .form-container {
    /* Adjust the height to better utilize the space on larger screens */
    height: 80vh; /* Example: Decrease height */
    margin-top: 20%;

  }

  .form-group {
    width: 600px; /* Example: Increase width */
    /* Add padding to the right to give more space */
    padding-right: 10%; /* Example: Add padding */
  }

  .input {
    width: 70%; /* Example: Adjust width */
  }

  .submit {
    width: 28%; /* Example: Adjust width */
  }

  input[type="email"] {
    padding: 12px; /* Example: Increase padding */
    font-size: 16px; /* Example: Increase font size */
  }

  button[type="submit"] {
    padding: 12px; /* Example: Increase padding */
    font-size: 16px; /* Example: Increase font size */
  }

  .error, .message {
    font-size: 18px; /* Example: Increase font size */
  }
}
