.container {
  display: flex;
  /* flex-wrap: wrap; */
  margin: auto;
  justify-content: space-between;
  padding: 50px;
  
}

.email{
  width: 570px;
  height: 80vh;
  /* background-color: black; */
  margin-bottom: 20px; /* Add some space between elements */
}
.cardss {
  display: flex;

  width: 690px;
  height: 80vh;
  /* background-color:red; */
  margin-bottom: 20px; /* Add some space between elements */

}

@media screen and (max-width: 1080px) {
  
  .container {
    flex-direction: column;
    /* width: 100%; */
   
  }
  .email{
    height: 120vh;
  }
}
