.container {
 
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 1080px;
  
}
.email {
  /* max-width: 50%;
  min-width: 390px; Minimum width for each item to allow wrapping */
  min-width: 325px;
  margin: 10px; /* Space around each item */
  /* background-color:black; */
  border: 2px red;
}
.card {
  width: 325px; /*Minimum width for each item to allow wrapping */
  margin: 10px; /* Space around each item */
  /* background-color:blue; */
  border: 2px  red;
}

/* @media only screen and (min-width:480px) and (max-width: 768px) {
  .container {
    width: 100%; */
  }
}